.image-wrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
}
.image-wrapper:hover {
    transform: scale(1.1);
}
.image {
    transition: 0.3s;
}
.image-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 50px;
  }
  
.image-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.image-card:hover .image-card-inner {
    transform: rotateY(180deg);
}
  
.image-card-front, .image-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.image-card-front {
    background-color: #bbb;
    color: black;
}
  
.image-card-back {
    background-color: #11aa04;
    color: white;
    transform: rotateY(180deg);
    padding: 15px;
}
 .jumbotron{
    background-color: #7be777;
}
.image-card-back h1 {
    text-shadow: 2px 2px 4px #053501;
}